<div class="navbar">
  <div class="navbar-inner">
      <a class="brand" routerLink="/">ng6-foodme</a>
    <ul class="nav">
      <li routerLinkActive="active"><a routerLink="/">Home</a></li>
      <li routerLinkActive="active"><a routerLink="/how-it-works">How It Works</a></li>
      <li routerLinkActive="active"><a routerLink="/who-we-are">Who We Are</a></li>
    </ul>
    <ul class="nav pull-right">
      <li routerLinkActive="active"><a routerLink="/help">Help</a></li>
    </ul>
    </div>
</div>